{% extends 'registros/base.html' %}

{% block title %}Página de busqueda{% endblock %}

{% block principal %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'registros:index'%}">Inicio</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registros:buscar'%}">Busqueda de pacientes</a>
</li>
{% endblock %}

{% block lista %}
<li class="breadcrumb-item"><a href="{% url 'registros:index'%}">Inicio</a></li>
<li class="breadcrumb-item active" aria-current="page">Busqueda</li>
{% endblock %}

{% block content %}
<div class="container">
  <form class="form-inline" method="GET">
    <div class="form-group col col-lg-4 mx-md-3 mb-2">
      <input type="text" class="form-control col col-lg-12" placeholder="Busqueda por : nombre, cedula" onkeyup="ImprimirEnConsola(this)">
    </div>
    <a class="btn btn-primary mb-2" href="{% url 'registros:newpaciente'%}">+ NUEVO PACIENTE</a>
  </form>
</div>
<br>


<table id="dtDynamicVerticalScrollExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Cedula
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Nombres
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Apellidos
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Fecha Registro
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Nueva visita
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>

  <tbody id="datos">

  </tbody>

  
  <tfoot>
    <tr>
      <th>Cedula
      </th>
      <th>Nombres
      </th>
      <th>Apellidos
      </th>
      <th>Ultima visita
      </th>
      <th>Nueva visita
    </tr>
  </tfoot>
</table>
{% block jquer %}
    
{% block script %}

    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
  function ImprimirEnConsola(elemento) {
    var seleccionada = elemento.value;
    console.log(seleccionada);
    $.ajax({
      data: { 'id': seleccionada },
      url: "{% url 'registros:buscarajax'%}",
      type: 'get',
      success: function (data) {
        var html = '';
        
        for (var i = 0; i < data.length; i++) {
          html += '<tr>'
          html += "<td>" + data[i].fields.cedula + "</td>";
          html += "<td>" + data[i].fields.nombre1 + "</td>";
          html += "<td>" + data[i].fields.apellPadre + "</td>";
          html += "<td>" + data[i].fields.fech_actualizado + "</td>";
          html += '<td><a class="btn btn-primary" href="/paciente/' + data[i].pk + '">Ingresar</a></td>'
          html += '</tr>'
          html += '</tr>'
          console.log(data[i]);
        }
        var element = document.getElementById("datos");
        element.innerHTML = html;
      }
    });
  }
</script>
{% endblock %}
{% endblock %}
{% endblock %}
</body>

</html>