{% extends 'registros/base.html'%}
{% block title %}Ecografias{% endblock %}

{% block principal %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'registros:index'%}">Inicio</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registros:buscar'%}">Busqueda de pacientes</a>
</li>
{% endblock %}

{%block derecha%}
</div>
<div style="color:aliceblue">PACIENTE : {{datos.nombre1}}&nbsp{{datos.nombre2}}&nbsp{{datos.apellPadre}}&nbsp{{datos.apellMadre}}
</div>
{%endblock%}

{% block lista %}
<li class="breadcrumb-item"><a href="{% url 'registros:index'%}">Inicio</a></li>
<li class="breadcrumb-item"><a href="{% url 'registros:buscar'%}">Busqueda</a></li>
<li class="breadcrumb-item"><a href="/registros/paciente/{{datos.pk}}">Paciente</a></li>
<li class="breadcrumb-item active" aria-current="page">Ecografias</li>
{% endblock %}


{% block content %}
<div class="card-deck">
	<div class="card text-white bg-info mb-3" style="width: 14rem;">
		<img class="card-img-top" src="ecomamas.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">ECOGRAFIA DE MAMAS</h5>
		</div>
		<div class="card-footer text-muted"><a href="/registros/ecomama/{{datos.pk}}" class="btn btn-primary btn-lg btn-block">ENTRAR</a></div>
	</div>

	<div class="card text-white bg-success mb-3" style="width: 14rem;">
		<img class="card-img-top" src="ecoabdomen.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">ECOGRAFIA ABDOMINAL</h5>
		</div>
		<div class="card-footer text-muted"><a href="/registros/ecoabdomen/{{datos.pk}}" class="btn btn-primary btn-lg btn-block">ENTRAR</a></div>
	</div>

	<div class="card text-white bg-danger mb-3" style="width: 14rem;">
		<img class="card-img-top" src="ecoobstetrico.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">ECOGRAFIA OBSTETRICO</h5>
		</div>
		<div class="card-footer text-muted"><a href="/registros/ecoobstetrico/{{datos.pk}}" class="btn btn-primary btn-lg btn-block">ENTRAR</a></div>
	</div>

	<div class="card text-white bg-info mb-3" style="width: 15rem;">
		<img class="card-img-top" src="ecorenal.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">ECOGRAFIA RENAL</h5>
		</div>
		<div class="card-footer text-muted"><a href="/registros/ecorenal/{{datos.pk}}" class="btn btn-primary btn-lg btn-block">ENTRAR</a></div>
	</div>

	<div class="card text-white bg-warning mb-3" style="width: 15rem;">
		<img class="card-img-top" src="ecoginecologico.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">ECOGRAFIA GINECOLOGICO</h5>
		</div>
		<div class="card-footer text-muted"><a href="/registros/ecoginecologia/{{datos.pk}}" class="btn btn-primary btn-lg btn-block">ENTRAR</a></div>
	</div>
	<div class="card text-white bg-dark  mb-3" style="width: 15rem;">
		<img class="card-img-top" src="ecotesticular.jpg" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">ECOGRAFIA TESTICULAR</h5>
		</div>
		<div class="card-footer text-muted"><a href="/registros/ecotesticular/{{datos.pk}}" class="btn btn-primary btn-lg btn-block">ENTRAR</a></div>
	</div>
</div>
{% endblock %}
