{% extends 'registros/base.html'%}
{% block title %}Ecografias{% endblock %}

{% block principal %}
<li class="nav-item">
	<a class="nav-link" href="{% url 'registros:index'%}">Inicio</a>
</li>
<li class="nav-item active">
	<a class="nav-link" href="{% url 'registros:buscar'%}">Busqueda de pacientes</a>
</li>
{% endblock %}

{%block derecha%}
</div>
<div style="color:aliceblue">PACIENTE :
	{{datos.nombre1}}&nbsp{{datos.nombre2}}&nbsp{{datos.apellPadre}}&nbsp{{datos.apellMadre}}
</div>
{%endblock%}

{% block lista %}
<li class="breadcrumb-item"><a href="{% url 'registros:index'%}">Inicio</a></li>
<li class="breadcrumb-item"><a href="{% url 'registros:buscar'%}">Busqueda</a></li>
<li class="breadcrumb-item"><a href="/registros/paciente/{{datos.pk}}">Paciente</a></li>
<li class="breadcrumb-item active" aria-current="page">Ecografias</li>
{% endblock %}


{% block content %}

<br>
<br>


<div class="card-deck">
		<div class="card text-white bg-primary border border-dark ml-4 mr-2 ">
				<!-- <img class="card-img-top" src="" alt="Card image cap"> -->
				<div class="card-body">
					<h5 class="card-title text-dark text-center">ECOGRAFIA ABDOMINAL</h5>
				</div>
				<div class="card-footer text-muted bg-light btn btn-justify">
					<a href="{% url 'registros:ecoabdomen' ident=datos.pk%}" class="btn btn-outline-success">NUEVO</a>
					<a href="{% url 'registros:listar_ecoabdomen'  pk=datos.pk%}" class="btn btn-outline-info">LISTAR</a>
				</div>
			</div>
		
		
		
			<div class="card text-white bg-primary border border-dark mx-2">
				<!-- <img class="card-img-top" src="" alt="Card image cap"> -->
				<div class="card-body">
					<h5 class="card-title text-dark text-center">ECOGRAFIA RENAL</h5>
				</div>
				<div class="card-footer text-muted bg-light btn btn-justify">
					<a href="{% url 'registros:ecorenal' ident=datos.pk%}" class="btn btn-outline-success">NUEVO</a>
					<a href="{% url 'registros:listar_ecorenal'  pk=datos.pk%}" class="btn btn-outline-info">LISTAR</a>
				</div>
			</div>
	{%if datos.sexo in 'F' %}
	<div class="card text-white bg-primary border border-dark mx-2">
		<!-- <img class="card-img-top" src="" alt="Card image cap"> -->
		<div class="card-body">
			<h5 class="card-title text-dark text-center">ECOGRAFIA DE MAMAS</h5>
		</div>
		<div class="card-footer text-muted bg-light btn btn-justify">
			<a href="{% url 'registros:ecomama'  ident=datos.pk%}" class="btn btn-outline-success">NUEVO</a>
			<a href="{% url 'registros:listar_ecomama'  pk=datos.pk%}" class="btn btn-outline-info">LISTAR</a>
		</div>
	</div>

	<div class="card text-white bg-primary border border-dark mx-2">
			<!-- <img class="card-img-top" src="" alt="Card image cap"> -->
			<div class="card-body">
				<h5 class="card-title text-dark text-center">ECOGRAFIA OBSTETRICO</h5>
			</div>
			<div class="card-footer text-muted bg-light btn btn-justify">
				<a href="{% url 'registros:ecoobstetrico' ident=datos.pk%}" class="btn btn-outline-success">NUEVO</a>
				<a href="{% url 'registros:listar_ecoobstetrico'  pk=datos.pk%}" class="btn btn-outline-info">LISTAR</a>
			</div>
		</div>
		<div class="card text-white bg-primary border border-dark ml-2 mr-4">
				<!-- <img class="card-img-top" src="" alt="Card image cap"> -->
				<div class="card-body">
					<h5 class="card-title text-center text-dark">ECOGRAFIA GINECOLOGICO</h5>
				</div>
				<div class="card-footer text-muted bg-light btn btn-justify">
					<a href="{% url 'registros:ecoginecologia' ident=datos.pk%}" class="btn btn-outline-success">NUEVO</a>
					<a href="{% url 'registros:listar_ecoginecologia'  pk=datos.pk%}" class="btn btn-outline-info">LISTAR</a>
				</div>
			</div>
	{%endif%}


	{%if datos.sexo in 'M' %}
	<div class="card text-white bg-primary border border-dark ml-2 mr-4">
			<!-- <img class="card-img-top" src="" alt="Card image cap"> -->
			<div class="card-body">
				<h5 class="card-title text-center text-dark">ECOGRAFIA TESTICULAR</h5>
			</div>
			<div class="card-footer text-muted bg-light btn btn-justify">
				<a href="{% url 'registros:ecotesticular' ident=datos.pk%}" class="btn btn-outline-success">NUEVO</a>
				<a href="{% url 'registros:listar_ecotesticular'  pk=datos.pk%}" class="btn btn-outline-info">LISTAR</a>
			</div>
		</div>
	{%endif%}

</div>
{% endblock %}