<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<div class='row'>
			<div class='col-sm-12 col-md-7 center'>
				<div class='panel panel-default'>
					<div class='panel-body'>
						<form class='form-horizontal' action="" method="post" enctype='multipart/form-data'>
							{% csrf_token %}
							{%include 'registros/form-template.html'%}
							<div>
								<button type="submit">CREAR</button>
							</div>
						</form>	
					</div>
				</div>	
			</div>
		</div>
	</div>
</body>
</html> -->