{% extends 'registros/base.html'%}
{% block title %}Opciones del paciente{% endblock %}

{% block principal %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'registros:index'%}">Inicio</a>
</li>
<li class="nav-item active">
  <a class="nav-link" href="{% url 'registros:buscar'%}">Busqueda de pacientes</a>
</li>
{% endblock %}

{%block derecha%}
</div>
<div style="color:aliceblue">PACIENTE : {{datos.nombre1}}&nbsp{{datos.nombre2}}&nbsp{{datos.apellPadre}}&nbsp{{datos.apellMadre}}
</div>
{%endblock%}

{% block lista %}
<li class="breadcrumb-item"><a href="{% url 'registros:index'%}">Inicio</a></li>
<li class="breadcrumb-item"><a href="{% url 'registros:buscar'%}">Busqueda</a></li>
<li class="breadcrumb-item active" aria-current="page">Paciente</li>
{% endblock %}



{% block content %}

<br>
<br>

<div class="card-deck">

	<div class="card  text-white  bg-primary border border-dark">
		<!-- <img class="card-img-top" src="diagnostico.png" alt="Card image cap"> -->
		<div class="card-body">
			<h5 class="card-title text-dark">DIAGNOTICO</h5>
			<p class="card-text">Historial clinico del paciente</p>
		</div>
		<div class="card-footer text-muted bg-light">
			<a href="/Registros/diagnostico/add/" class="btn btn-outline-success">NUEVO</a>
			<a href="/registros/paciente/listar_diagnostico/{{datos.pk}}" class="btn btn-outline-info">LISTAR</a>
		</div>
	</div>

	<div class="card text-white bg-info border border-dark ml-0">
		<!-- <img class="card-img-top" src="ecografias.jpg" alt="Card image cap"> -->
		<div class="card-body">
			<h5 class="card-title text-dark">ECOGRAFIAS</h5>
			<p class="card-text">Informacion de las distintas ecografias</p>
		</div>
		<div class="card-footer text-muted bg-light">
			<a href="/registros/ecografia/{{datos.pk}}" class="btn btn-outline-success">ELEGIR ECOGRAFIA</a>
		</div>
	</div>

	<div class="card text-white bg-primary border border-dark ml-0">
		<!-- <img class="card-img-top" src="rayos x.jpg" alt="Card image cap"> -->
		<div class="card-body">
			<h5 class="card-title text-dark">RAYOS X</h5>
			<p class="card-text">Historial clinico del paciente</p>
		</div>
		<div class="card-footer text-muted bg-light">
			<a href="#" class="btn btn-outline-success">NUEVO</a>
			<a href="#" class="btn btn-outline-info">LISTAR</a>
		</div>
	</div>

	<div class="card text-white bg-info border border-dark ml-0">
		<!-- <img class="card-img-top" src="desintrometria.jpg" alt="Card image cap"> -->
		<div class="card-body">
			<h5 class="card-title text-dark">DESINTROMETRIA</h5>
			<p class="card-text">Historial clinico del paciente</p>
		</div>
		<div class="card-footer text-muted bg-light">
			<a href="#" class="btn btn-outline-success">NUEVO</a>
			<a href="#" class="btn btn-outline-info">LISTAR</a>
		</div>
	</div>

	<div class="card text-white bg-primary border border-dark ml-0">
		<!-- <img class="card-img-top" src="terapias.jpg" alt="Card image cap"> -->
		<div class="card-body">
			<h5 class="card-title text-dark">TERAPIAS</h5>
			<p class="card-text">Historial clinico del paciente</p>
		</div>
		<div class="card-footer text-muted bg-light">
			<a href="#" class="btn btn-outline-success">NUEVO</a>
			<a href="#" class="btn btn-outline-info">LISTAR</a>
		</div>
	</div>
	<div class="card text-white bg-info border border-dark ml-0">
		<!-- <img class="card-img-top" src="EKG.jpg" alt="Card image cap"> -->
		<div class="card-body">
			<h5 class="card-title text-dark">EKG</h5>
			<p class="card-text">Historial clinico del paciente</p>
		</div>
		<div class="card-footer text-muted bg-light">
			<a href="#" class="btn btn-outline-success">NUEVO</a>
			<a href="#" class="btn btn-outline-info">LISTAR</a>
		</div>
	</div>

</div>
{% endblock %}